/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
} */

.resource-banner-div{
    width: 100%;
}

.resource-banner-div img{
    width: 100%;
}

.resource-banner-flexdiv{
    background-image: url('./images/resource-banner.png');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    aspect-ratio: 16/9;
}

.resource-flexdiv-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resource-flexdiv-text h1{
    font-size: 4.75rem;
    width: 80%;
}

.resource-flexdiv-text h4{
    font-size: 2.75rem;
    text-align: left;
    width: 80%;
}

.resource-flexdiv-img{
    width: 50%;
}

.resource-flexdiv-img img{
    display: none;
}

.resource-maindiv{
    width: 70%;
    margin: 3rem auto;
}

.resource-section{
    width: 100%;
    margin: 2rem 0;
}

.resource-section h1{
    font-size: clamp(1.5rem, 3vw, 2.125rem);
    font-weight: 500;
    width: fit-content;
    position: relative;
    padding: 0 .5rem;
    color: #2f353e;
}

.resource-section h1::before{
    content: '';
    background-color: #fbd306;
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.resource-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding: 1rem 0;
}

.resource-text{
    width: 80%;
}

.resource-text-heading{
    font-size: clamp(1.3rem, 2.5vw, 1.5rem);
    line-height: 1.2;
    color: #2f353e;
    font-weight: 400;
    width: 60%;
    text-transform: capitalize;
}

.resource-text-date{
    line-height: 1;
    font-size: clamp(1rem, 2vw, 1.125rem);
    margin-left: 2rem;
    color: #999;
    font-weight: 400;
}

.resource-text-size{
    line-height: 1;
    font-size: clamp(.9rem, 1.8vw, 1.125rem);
    margin-right: 2rem;
    font-weight: 500;
    color: #666;
}

.resource-button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.resource-button button{
    width: max-content;
    background-color: transparent;
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 500;
    padding: 16px 32px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    transition: all 400ms ease-in-out;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.resource-button button:hover{
    background-color: #fbd306 ;
    color: #fff;
    border: 1px solid #fbd306;
}

.resource-span{
    display: flex;
    flex-direction: row;
}

.resource-catalog{
    font-size: 3.75rem;
    text-align: center;
    color: #2f353e;
    font-weight: 500;
    letter-spacing: -.75px;
}

.resource-qr{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
}

.resource-qr-mobile{
    display: none;
}

.resource-qr img{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    aspect-ratio: 16 / 9;
}

.resource-qr-text{
    position: absolute;
    top: 30%;
    right: 4%;
    width: max-content;
}

.resource-qr-text h1{
    color: #fff;
    text-align: center;
}

.resource-qr-text p{
    color: #fff;
    text-align: center;
}

.resource-video{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 10px;
    align-items: center;
}

.resource-video-123{
    width: 100%;
    height: 400px;
    /* background-color: #ccc; */
    padding: 1.2rem;
    transition: all ease-in-out 400ms;
  display: none;
}

.resource-video-123:nth-child(1),
.resource-video-123:nth-child(2),
.resource-video-123:nth-child(3){
    display: inline-block;
}

.resource-video-123:hover{
    transform: scale(1.05);
}

.resource-video-video{
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.resource-video-video iframe{
    border-radius: 1rem;
}

.resource-video-text{
    width: 100%;
}

.resource-video-text p{
    margin-left: 0;
    width: 100%;
}

.view-more{
    width: 100%;
    margin:2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loader {
    text-align: center;
    font-size: 1.2rem;
    color: #2f353e;
    margin-top: 1rem;
}

.resource-lastdiv{
    background-image: url(https://indrones.com/images/bg-04.png);
    width: 100%;
    height: 100%;
    padding: 4rem 0;
    background-attachment: fixed;
}

  
@media (max-width:1400px) {
    .resource-maindiv{
        width: 80%;
    }
    .resource-flexdiv-text h1{
        width: 100%;
        font-size: 4.5rem;
        margin-left: 3rem;
    }
    .resource-flexdiv-text h4{
        width: 100%;
        font-size: 2.5rem;
        margin-left: 3rem;
    }
    .resource-qr-text{
        right: 3%;
    }
}

@media (max-width:1220px) {
    .resource-text-heading{
        width: 50%;
    }
    .resource-qr-text{
        right: 1%;
    }
}

@media (max-width:1100px) {
    .resource-maindiv{
        width: 90%;
    }
}

@media (max-width:950px) {
    .resource-maindiv{
        width: 100%;
        padding: 0 2rem;
    }
    .resource-info{
        flex-direction: column;
    }
    .resource-text{
        width: 100%;
        margin-bottom: 1rem;
    }
    .resource-button{
        width: 100%;
        justify-content: flex-start;
    }
    .resource-span{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .resource-text-heading{
        width: 100%;
    }
    .resource-text-date{
        margin-left: 0;
        margin-top: 1rem;
    }
    .resource-section h1{
        margin-bottom: 2rem;
    }
    .resource-video{
        grid-template-columns: repeat(auto-fit,minmax(45%,1fr));
    }
    .resource-video-video{
        height: 220px;
    }
    .resource-banner-flexdiv{
        background-image: url('./images/resource-banner-mobile.png');
        aspect-ratio: 1/1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        height: 130vh;
        margin-top: 3rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        background-color: #f3f3f4;
    } 
    .resource-flexdiv-img{
        width: 100%;
    }
    .resource-flexdiv-text{
        width: 100%;
        margin-bottom: 5rem;
    }
    .resource-flexdiv-text h1{
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 3.5rem;
    }
    .resource-flexdiv-text h4{
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 2rem;
    }
    .resource-qr-text{
        right: 0;
    }
}

@media (max-width:800px) {
    .resource-video-video{
        height: 200px;
    }
    .resource-qr-mobile{
        display: block !important;
    } 
    .resource-qr img{
        display: none;
    }
    .resource-qr-special{
        aspect-ratio: 1/1 !important;
    }
    .resource-qr{
        height: 100%;
    }
    .resource-qr-text{
        top: 57%;
        right: 31%;
    }
}

@media (max-width:700px) {
    .resource-video-video{
        height: 180px;
    }
    .resource-banner-flexdiv{
        height: 130vh;
        background-size: cover;
        background-image: url('./images/resource-banner-another.png');
    }
    .resource-flexdiv-text{
        margin-bottom: 0;
    }
    .resource-qr-text{
        right: 29%;
    }
}

@media (max-width:560px) {
    .resource-video{
        grid-template-columns: repeat(auto-fit,minmax(70%,1fr));
        gap: 0;
    }
    .resource-video-123{
        padding: 0;
    }
    .resource-banner-flexdiv{
        height: 100vh;
        background-image: none;
        margin-top: 3rem;
        flex-flow: column-reverse;
    }
    .resource-flexdiv-img img{
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
    }
    .resource-flexdiv-text h1{
        font-size: 3rem;
    }
    .resource-flexdiv-text h4{
        font-size: 1.8rem;
    }
    .resource-qr-text{
        right: 26%;
    }
}

@media (max-width:456px) {
    .resource-banner-flexdiv{
        height: 100vh;
    }
    .resource-qr-text{
        right: 18%;
        top: 55%;
    }
}

@media (max-width:400px) {
    .resource-qr-text{
        right: 13%;
        top: 54%;
    }
}

@media (max-width:400px) {
    .resource-qr-text{
        right: 11%;
        top: 54%;
    }
}